* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-login {
  min-height: 100vh;
  width: 100%;
  align-items: center;
  display: flex;
  justify-content: center;
  background-image: radial-gradient(circle farthest-corner at 10% 20%,
      rgba(253, 101, 133, 1) 0%,
      rgba(255, 211, 165, 1) 90%);
}

.card {
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  max-width: 400px;
  width: calc(100% - 40px);
  background-color: #ffffff;
  padding: 20px 30px;
}

.card_title {
  text-align: center;
  padding: 10px;
  margin-bottom: 10px;
}

.card_title h1 {
  font-size: 26px;
  font-weight: bold;
  margin-bottom: 6px;
}

.form input {
  margin: 10px 0;
  width: 100%;
  background-color: #e2e2e2;
  border: none;
  outline: none;
  padding: 12px 20px;
  border-radius: 4px;
}

.form button {
  background-color: #4796ff;
  color: #ffffff;
  font-size: 16px;
  outline: none;
  border-radius: 5px;
  border: none;
  padding: 8px 15px;
  width: 100%;
  cursor: pointer;
  margin-top: 10px;
}

.card_terms {
  display: flex;
  align-items: center;
  padding: 10px;
}

.card_terms input[type="checkbox"] {
  background-color: #e2e2e2;
}

.card_terms span {
  margin: 5px;
  font-size: 13px;
}

.card a {
  color: #4796ff;
  text-decoration: none;
}






/* Loader CSS */

.loading {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: hsla(220, 29%, 90%, 0.349);
  position: fixed;
  top: 0;
  left: 0;
}

.pl {
  width: 6em;
  height: 6em;
}

.pl__ring {
  animation: ringA 2s linear infinite;
}

.pl__ring--a {
  stroke: #f42f25;
}

.pl__ring--b {
  animation-name: ringB;
  stroke: #f49725;
}

.pl__ring--c {
  animation-name: ringC;
  stroke: #255ff4;
}

.pl__ring--d {
  animation-name: ringD;
  stroke: #f42582;
}

/* Animations */
@keyframes ringA {

  from,
  4% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }

  12% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -335;
  }

  32% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -595;
  }

  40%,
  54% {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -660;
  }

  62% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -665;
  }

  82% {
    stroke-dasharray: 60 600;
    stroke-width: 30;
    stroke-dashoffset: -925;
  }

  90%,
  to {
    stroke-dasharray: 0 660;
    stroke-width: 20;
    stroke-dashoffset: -990;
  }
}

@keyframes ringB {

  from,
  12% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -110;
  }

  20% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -115;
  }

  40% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -195;
  }

  48%,
  62% {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  70% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  90% {
    stroke-dasharray: 20 200;
    stroke-width: 30;
    stroke-dashoffset: -305;
  }

  98%,
  to {
    stroke-dasharray: 0 220;
    stroke-width: 20;
    stroke-dashoffset: -330;
  }
}

@keyframes ringC {
  from {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  8% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  28% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  36%,
  58% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  66% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  86% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  94%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}

@keyframes ringD {

  from,
  8% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: 0;
  }

  16% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -5;
  }

  36% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -175;
  }

  44%,
  50% {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -220;
  }

  58% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -225;
  }

  78% {
    stroke-dasharray: 40 400;
    stroke-width: 30;
    stroke-dashoffset: -395;
  }

  86%,
  to {
    stroke-dasharray: 0 440;
    stroke-width: 20;
    stroke-dashoffset: -440;
  }
}






#root {
  width: 100%;
  /* background-image: url(./assets/light-bg.svg); */
  background-size: 1340px 1060px;
  background-position: center top;
  min-height: 100dvh;
}

.layout {
  display: flex;
  flex-direction: column;
  max-width: 768px;
  min-height: 100vh;
  margin: auto;
  padding: 1rem;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: .5rem;
  border-radius: 1rem;
  background: #ffa7a0;
}



.card-options {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 2rem;
}

.card-option {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 1rem;
  border: 1px solid #ddd;
  border-radius: var(--radius);
  font-weight: 700;
  cursor: pointer;
}


/* 22 Oct 2024 */
.main-box {
  background: linear-gradient(to right, rgb(128, 0, 128), rgb(255, 192, 203));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 50px 20px 20px;
}

.inner_bx_white {
  max-width: 600px;
  width: calc(100% - 20px);
  min-height: 300px;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  padding: 30px 60px 80px;
  margin-bottom: 70px;
  position: relative;
}

.quiz_main_num {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  gap: 6px;
}

.quiz_num_act {
  font-size: clamp(40px, 5vw, 60px);
  font-weight: 500;
  color: rgb(128, 0, 128);
}

.quiz_num_total {
  font-size: clamp(20px, 5vw, 30px);
  font-weight: 500;
  color: rgb(129, 122, 142);
}

.question_bx-quiz {
  margin-top: 30px;
  margin-bottom: 40px;
  max-width: 100%;
}

.quiz_question {
  font-size: clamp(18px, 4vw, 28px);
  font-weight: 500;
  margin-bottom: 25px;
  color: rgb(17, 5, 44);
  line-height: 1.3;
}

.options_list-wrp {
  max-width: 100%;
}

.option_bx {
  font-size: clamp(18px, 4vw, 16px);
  color: rgb(45, 38, 75);
  font-weight: 400;
  border: 1px solid rgb(234, 234, 234);
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  margin-top: clamp(13px, 7.27273px + 0.454545vw, 16px);
  cursor: pointer;
}

.option_bx label {
  padding: 18px;
  display: flex;
  cursor: pointer;
}

.option_bx label input {
  visibility: hidden;
  margin: 0px;
}

.option_bx.selected {
  border: 1px solid rgb(128, 0, 128);
  background-color: rgb(255, 214, 255);
  color: rgb(45, 38, 75);
}

.buttons-btm {
  position: absolute;
  right: 60px;
  bottom: 30px;
  display: flex;
  gap: 20px;
}

.btn_next {
  width: 195px;
  min-height: 50px;
  color: rgb(255, 255, 255);
  background: linear-gradient(90.04deg, rgb(128, 0, 128) 0.03%, rgb(255, 192, 203) 99.96%);
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 400;
  border-radius: 9px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.btn_next:disabled {
  background: rgb(231, 232, 233);
  color: rgb(159, 163, 169);
  cursor: not-allowed;
  transform: unset;
  box-shadow: unset;
}

.btn_next span {
  margin-left: 20px;
  display: flex;
}

.name_field_box input {
  width: 100%;
  height: 52px;
  border: 1px solid #00000038;
  padding: 10px 20px;
  border-radius: 6px;
  outline: none;
  font-size: 18px;
}

button.btn_submit_name {
  margin-top: 30px;
  width: 100%;
  min-height: 50px;
  color: rgb(255, 255, 255);
  background: linear-gradient(90.04deg, rgb(128, 0, 128) 0.03%, rgb(255, 192, 203) 99.96%);
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 400;
  border-radius: 9px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}




.modal_wrp {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px;
}

.inner_bx {
  width: 600px;
  padding: 50px 25px;
  background: rgb(255, 255, 255);
  border-radius: 10px;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  flex-direction: column;
}

.heaing_modal {
  font-size: clamp(24px, 4vw, 32px);
  font-weight: 700;
  color: rgb(128, 0, 128);
  margin-top: 26px;
  margin-bottom: 20px;
}

.sub_pera {
  font-size: clamp(18px, 4vw, 24px);
  font-weight: 500;
  text-align: center;
  line-height: 1.3;
  color: rgb(17, 5, 44);
  margin-bottom: clamp(18px, 5.27273px + 2.12121vw, 48px);
}

.show_result_btn {
  width: 195px;
  min-height: 50px;
  color: rgb(255, 255, 255);
  background: linear-gradient(90.04deg, rgb(128, 0, 128) 0.03%, rgb(255, 192, 203) 99.96%);
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 700;
  border-radius: 9px;
  display: flex;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
}

.main_parent_result {
  background: linear-gradient(to right, rgb(128, 0, 128), rgb(255, 192, 203));
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 50px 20px 20px;
}

.result_box {
  max-width: 900px;
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 4px;
  margin: 0px auto 40px;
  padding: 40px 90px 90px;
}





.right_wrong_ques {
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  margin-top: 40px;
}

.right_wrong_ques .width_90_per {
  width: 100%;
}

.question_header {
  display: flex;
  gap: 4px;
}

.question_header h6 {
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 500;
  line-height: 1.3;
  color: rgb(17, 5, 44);
}

.question_header span {
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 500;
  line-height: 1.3;
  color: rgb(17, 5, 44);
  margin-bottom: 20px;
}

.options_list_q ul {
  padding: 0;
  margin: 0;
}

.options_list_q ul li {
  border: 1px solid rgb(234, 234, 234);
  width: 100%;
  background: rgb(255, 255, 255);
  border-radius: 16px;
  font-size: clamp(16px, 5vw, 18px);
  font-weight: 600;
  padding: 15px;
  color: rgb(45, 38, 75);
  margin-top: clamp(13px, 7.27273px + 0.454545vw, 16px);
}

.options_list_q ul li.wrong_answer {
  background: rgb(255, 215, 222);
  color: rgb(45, 38, 75);
  border: 1px solid rgb(255, 20, 62);
}

.options_list_q ul li.right_answer {
  background: rgb(221, 255, 220);
  color: rgb(45, 38, 75);
  border: 1px solid rgb(18, 180, 14);
}

.options_list_q ul li span {
  margin-right: 14px;
}

.share_quiz_box {
  position: relative;
}

.share_quiz_box input {
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.274);
  padding: 10px 12px;
  border-radius: 6px;
  outline: none;
}

.copy_btn {
  position: absolute;
  top: 1px;
  right: 1px;
  padding: 10px 10px;
  background: #e8e8e8;
  border-radius: 0 4px 4px 0;
}

.share_title {
  font-size: 28px;
  font-weight: 600;
  padding-bottom: 20px;
}


.create_quiz_btn {
  width: 100%;
  min-height: 70px;
  color: rgb(255, 255, 255);
  background: linear-gradient(90.04deg, rgb(128, 0, 128) 0.03%, rgb(255, 192, 203) 99.96%);
  font-size: clamp(16px, 5vw, 24px);
  font-weight: 600;
  letter-spacing: 1px;
  word-spacing: 0.6px;
  text-transform:uppercase;
  border-radius: 9px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.social_icons {
  display: flex;
  justify-content: center;
  gap: 30px;
  padding-top: 20px;
}

.social_icons button {
  outline: none;
  border: 0;
  background: transparent;
}

.social_icons button img {
  height: 80px;
}


@media(max-width:767px) {
  .main_parent_result {
    padding: 10px 10px 10px;
  }

  .result_box {
    padding: 40px 20px 20px;
  }
}



